// * {
//     outline: 1px solid red;
// }

html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;

    margin: 0;
    padding: 0;
}

// body {
//     margin: 0;
//     padding: 0;
// }

li,
li a {
    list-style: none;
}

a,
a:visited,
a:hover {
    text-decoration: none;
}
