.header {
    height: 3.5rem;
}


.nav {
    display: flex;
    flex-direction: column;
    justify-content: start;

    &__top-nav {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;

        height: 3.5rem;
        background-color: #13131c;

        & li:last-child {
            margin-left: auto;
        }

        & a {
            color: white;
            font-weight: bold;

            &:hover {
                color: #19bec8;
            }
        }

        & span {
            color: #19bec8;
            font-weight: bold;

            &:hover {
                color: #19bec8;
            }
        }

        & li {
            margin-right: 2rem;
        }

        & li:last-child {
            margin-right: 3rem;
        }
    }

    &__logo {
        margin: 0 3rem;
    }

    &__main-nav {
        display: flex;
        justify-content: start;
        align-items: center;

        height: 3.5rem;
        background-color: #0c646e;

        & li {
            margin-left: 3rem;
            padding: 1.2rem 0.6rem;

            &:hover {
                background-color: #149ca3;
            }
        }

        & a {
            color: white;
        }

        & a:first {
            text-transform: uppercase;
        }
    }
}


