.top-nav {
    display: flex;
    // justify-content: center;
    align-items: center;
    background-color: black;

    // &__logo {


    // }

    &__nav_list {

        & li:last-child {
            margin-left: auto;
        }
    }

    // &__nav-item {

    // }

    &__nav-link {
        color: white;

        & .add-free {
            color: red;
        }
    }
}