// Colours
$Primary: rgba(34, 37, 47, 1);
$Secondary: rgba(20, 156, 163, 1);

// Banner-ad-free span
$banner-ad-free: rgba(25, 190, 200, 1);

// Top nav
$top-nav-bg-colour: rgba(21, 24, 36, 1);
$top-nav-font-colour: rgba(238, 238, 238, 1);
$top-nav-font-colour-hover: rgba(25, 190, 200, 1);

// Main nav
$main-nav-bg-colour: rgba(11, 100, 114, 1);
$main-nav-font-colour: rgba(238, 238, 238, 1);
$main-nav-font-colour-hover: rgba(238, 238, 238, 1);
$main-nav-bg-colour-hover: red;






// Fonts
$font-stack: Arial, Helvetica, sans-serif;
$font-size: 1rem; // 16px
$font-weight: bold;



$line-height: 1.25;

